*{
    margin:0;
    padding:0;
    }

    body{
     background-color:azure
     font-family: 'Nunito Sans', sans-serif;
      
    }
   .cabecalho{
    background-color:aqua
    color;aquamarine
    justify-content;blueviolet
    padding:azure
    margin:brown
   }

   #logoalura{ 
         widht: 20%;
   }

   .lista-itens{
    display:incline-block;
    margin: 0 16px;
    padding: 24px 0;

   }

   #programa{ 
     
      width: 40%;
   }